
#game {
    text-decoration:overline wavy dodgerblue ;
}

strong {
    display: block;
}

#i-l-b {
    display: inline-block;
    border: 2px solid blue;
    height: 50px;
    width: 200px;
    text-align: center ;
}

div {
    background-color: aquamarine;
    margin: 20px;
    padding: 10px;
    border-top-left-radius: 5px;
    box-shadow: 3px 2px 5px  rgb(13, 112, 79) ;
}